<div class="container d-flex flex-column align-items-center">
  <div class="logo w-100 text-center">
    <a href="/">URL SHORTENER<i class="fas fa-link fa-lg ml-2"></i></a>
  </div>
  <div class="m-description mb-4"><i class="fas fa-info-circle mr-2"></i>Track the total of clicks in the badge from
    your shortened
    URL.</div>
  <div class="card-block w-100 row justify-content-around">
    {{#each urls}}
    <div class="card m-card bg-dark col-sm-6 col-md-4 col-lg-3 m-3" style="width: 20rem;">
      <span class="badge badge-pill badge-danger w-25">{{ this.click }}</span>
      <div class="shorten-block ">
        <div class="shorten-title mb-1 text-left">Shortened URL:</div>
        <div class="input-group mb-3">
          <input type="text" class="display-shortened-url valid-input-area form-control"
            placeholder="Your shortened URL" aria-describedby="basic-addon2" data-id="{{ this._id }}"
            value="https://frozen-atoll-45486.herokuapp.com/s/{{ this.shorten }}">
          <div class="input-group-append">
            <button class="copy-btn btn" type="button" data-container="body" data-toggle="popover"
              data-placement="bottom" data-id="{{ this._id }}" data-content="Copied!" data-delay="250">Copy<i
                class="far fa-copy ml-1"></i></button>
          </div>
        </div>
      </div>
      <div class="original-block text-left w-75 mt-4">
        <div class="original-title mb-1">Original URL:</div>
        <div class="original-input-wrapper input-group w-100">
          <a href="{{ this.origin }}" class="w-100">
            <input type="text" class="original-input valid-input-area form-control " placeholder="Your shortened URL"
              aria-describedby="basic-addon2" value="{{ this.origin }}">
          </a>
        </div>
      </div>
      <div style="align-self: center;">
        <form action="/manager/{{ this._id }}" method="POST" onsubmit="return deleteCheckAgain()">
          <button type="submit" style="border: none; background: transparent;"
            class="delete-btn fas fa-times-circle mb-2">
          </button>
        </form>
      </div>
    </div>
    {{/each}}
  </div>
  <a href="/" class="submit-btn btn w-50" style="text-decoration:none; color:#ececec;">Create other
    shortened URL</a>
</div>